<ion-view>
  <ion-content style="height: 100%">
    <br/><br/>
    <h1 style="   text-align: center;margin-top:5px" ng-style="{'font-size' : +font + +5 + 'px'} "  class="title-h1" >{{title}}</h1>
    <div class="main-grey">
      <div class="news-box" ng-repeat="vijest in events">
        <div class="news-wrap" style="cursor:pointer;" menu-close ng-click="viewNews(vijest['id'])">
          <img src="http://dckzz-volonteri.hr/images/medium/{{vijest['images'][0]}}" class="img-responsive" ng-if="vijest['images'][0]!=null"
          />
          <img src="img/no-image.jpg" class="img-responsive" ng-if="vijest['images'][0]==null" />
          <h2 ng-style="{'font-size' : +font + 'px'} " class="news-title">{{vijest["title"]}}</h2>
        </div>
        <table class="news-options">
           
        </table>
      </div> 
      <br>
      <br>

    </div>
    <a ng-click="addMoreNews()" class="btn-primary" style="background-color: #cb2d2a"><spane ng-style="{'font-size' : +font  +5 + 'px'} ">Učitaj još vijesti</spane></a><br/><br/>
  </div><br/><br/><br/><br/><br/><br/><br/>
    <div style="margin-top:-20px"  style="background-color: white;" ng-include src="'templates/footer-copyright-eu.html'"></div>
    <br>
    <br>
    <br>
    <br>
  </ion-content>
</ion-view>