<ion-view>
    <ion-content>
      <br/><br/>
      <h1 style="   text-align: center;margin-top:5px" ng-style="{'font-size' : +font + +5 + 'px'} "  class="title-h1">  Timovi DCK</h1>
        <div class="main-grey">
            <div class="news-box">
                <div class="news-wrap">
                        <img src="http://dckzz-volonteri.hr/images/medium/{{vijest['images'][0]}}" class="img-responsive" ng-if="vijest['images']!=null" />
                        <img src="img/no-image.jpg" class="img-responsive" ng-if="vijest['images'][0]==null" />
                    <h2 ng-style="{'font-size' : +font + +5 + 'px'} "  class="news-title">{{vijest["title"]}}</h2>
                </div>
                <table class="news-options">
          <tbody>
            <tr>
              <td>
                <div ng-style="{'font-size' : +font - +5 + 'px'} " style="cursor:pointer;" menu-close ng-click="PopupComment(vijest['id'])">
                  <img class="news-icon" src="img/komentari.png" />
                  <span></span>komentiraj</div>
              </td>
              <td>
                <div ng-style="{'font-size' : +font - +5 + 'px'} " style="cursor:pointer;" menu-close ng-click="PopupShare(vijest['link'])">
                  <img class="news-icon" src="img/share.png" />
                  <span>podijeli</span>
                </div>
              </td>
              <td>
                <div ng-style="{'font-size' : +font - +5 + 'px'} " style="cursor:pointer;" menu-close ng-click="PopupCheckIn(vijest['id'])">
                  <img class="news-icon" src="img/prijava.png" />
                  <span>prijavi se</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
                <div  ng-style="{'font-size' : +font  + 'px'} " class="news-text" ng-bind-html="vijest.text">{{vijest["text"]}}</div>

                <h2 ng-style="{'font-size' : +font  + 'px'} " style="text-align: center" >Galerija</h2>
                <div ng-repeat="slika in vijest.images">
                    <img src="http://dckzz-volonteri.hr/images/medium/{{slika}}" class="img-responsive"   /> 
                </div>

                <div class="comment-box">
                  <h2 class="subtitle">Komentari</h2>
                  
                     <div ng-click="PopupComment()" class="btn-comment"><img class="comment-img" src="img/komentari.png" /><span>komentiraj</span></div>
                 </p>
                 <div ng-repeat="key in comments" id="{{key.id}}">
                 <p>Napisao: <a ng-click="openUserPopUp(key.name,key.surname,key.user)" style="color:red;font-size:20px"> {{key.name}} {{key.surname}}</a> ,    {{key.date}}</p>
                 <p> {{key.description}} </p><br/>
                   <br/>
                 </div> 
                </div>
        </div> 
        <div ng-include src="'templates/footer-copyright-eu.html'"></div> <br/><br/><br/>
    </ion-content>
</ion-view>