<ion-view>
    <ion-content>
      <br/><br/>
      <h1 style="  " ng-style="{'font-size' : +font + +5 + 'px'} "  class="title-h1" >{{title}}</h1>
      <div  ng-style="{'font-size' : +font + +2 + 'px'} " class="main-grey" style="height: 100%">
        <form>
        Ime: 
        <input type="text" ng-model="ime" id="ime" style="height: 35px;width: 100%"/><br/>
        Prezime:
        <input type="text" ng-model="prezime" id="prezime" style="height: 35px;width: 100%"/><br/>
        Email:
        <input type="text" ng-model="email" id="email" style="height: 35px;width: 100%"/><br/> 
        Poruka:
        <input type="text" id="poruka" style="height: 100px;width: 100%"/><br/> 

        <a ng-click="sendMessage()" class="btn-primary" style="background-color: #A23A85; "> <span  ng-style="{'font-size' : +font + +5 + 'px'} ">Pošalji</span></a><br/><br/><br/><br/>
      </form> 
      <div style="background-color: white;margin-top: -30px" ng-include src="'templates/footer-copyright-eu.html'"></div> 
    </div>  

    </ion-content>
  </ion-view>