<!-- ng-include in every template, except templates that use for popup windows and menu template -->
<br>  
<div class="clear40" style="margin-top:0px;background-color: white"></div> 
<div class="fixed-eu-logo" style="background-color: white"  >
    <img src="img/logo-eu.png" />
    <p>Sadržaj teksta isključivo je odgovornost Saveza udruga Rojca</p> 
    <p>Organizacija radionica sufinancirana je iz operativnog programa Učinkoviti ljudski potencijali, iz Europskog socijalnog fonda.</p> 
    <p>Savez udruga Rojca, FreeZURA - slobodna zajednica umjetnika u razvoju.</p> 
    <p>Vrijednost projekta:507 562,24 (431 427,90) kuna sufinancirano je sredstvima Europske unije iz Europskog socijalnog fonta</p><br>


</div> 