<ion-view>
    <ion-content  >
      <br/><br/>
     
      <h1 style="  " ng-style="{'font-size' : +font + +5 + 'px'} "  class="title-h1" >Uključi se</h1>
      <div  ng-style="{'font-size' : +font + +2 + 'px'} " class="main-grey"  >
         
            <br/>  
            <form>
        Ime: 
        <input type="text" ng-model="ime" id="ime" style="height: 35px;width: 100%"/><br/>
        Prezime:
        <input type="text" ng-model="prezime" id="prezime" style="height: 35px;width: 100%"/><br/> 
        Poštanski broj:
        <input type="text" ng-model="pBroj" id="pBroj" style="height: 35px;width: 100%"/><br/>
        Adresa:
        <input type="text" ng-model="adresa" id="adresa" style="height: 35px;width: 100%"/><br/>
        Mjesto:
        <input type="text" ng-model="mjesto" id="mjesto" style="height: 35px;width: 100%"/><br/>
        Telefon:
        <input type="text" ng-model="tel" id="tel" style="height: 35px;width: 100%"/><br/>
        E-mail: 
        <input type="text" ng-model="mail" id="mail" style="height: 35px;width: 100%"/><br/> 
        Poruka:
        <input type="text" ng-model="poruka"  id="poruka" style="height: 100px;width: 100%"/><br/> 
        <div ng-click="privacy==true ? privacy = false : privacy = true"   > <input type="checkbox" ng-model="privacy" id ="privacy" style="margin:5px;" >
          Prihvaćam pohranjivanje moje e-mail adrese za primanje obavijesti o aktivnostima Freezure i narednih događaja putem elektroničke pošte.  </div><br/>
          <a ng-click="openPrivacyPopup()">Saznaj više u Pravilima privatnosti</a>
      <br/><br/> 
        <a ng-click="joinUs()" class="btn-primary" style="background-color: #A23A85; "> <span  ng-style="{'font-size' : +font + +5 + 'px'} ">Pošalji</span></a><br/><br/><br/><br/>
        
      </form>
    </div>  
      <div style="background-color: white; " ng-include src="'templates/footer-copyright-eu.html'"></div> 
    </ion-content>
  </ion-view>